<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link href="tom-select.bootstrap4.css" rel="stylesheet" /> %>
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <%# we have to separately load tomselect via cdn because there is a weird conflict if you try to precompile using sass %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-dark">
    <nav class="navbar p-2 bg-white d-flex space-between sticky-top">
      Watch list
      <div>
      <%= link_to "all lists", lists_path, class: "btn btn-outline-primary" %>
      <%= link_to "create new list", new_list_path, class: "btn btn-outline-primary" %>
      </div>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
